# CMS
localhost:2020 {
  root cms

  gzip
  ext .html
  log tmp/access.log
  errors {
    log tmp/errors.log
    404 ../global/404.html
  }
  fastcgi / localhost:9000 php
}

# Forum
localhost:2021 {
  root forum

  gzip
  ext .html
  log tmp/access.log
  errors {
    log tmp/errors.log
    404 ../global/404.html
  }
  fastcgi / localhost:9000 php
}

# Wiki
localhost:2022 {
  root wiki

  gzip
  ext .html
  log tmp/access.log
  errors {
    log tmp/errors.log
    404 ../global/404.html
  }
  fastcgi / localhost:9000 php
}
