#candy #chat-tabs {
  list-style: none;
  margin: 0 200px 0 0;
  padding: 0;
  overflow: auto;
  overflow-y: hidden;
}

#candy #chat-tabs li {
  margin: 0;
  float: left;
  position: relative;
  white-space: nowrap;
  margin: 3px 0 0 3px;
}

#candy #chat-tabs a {
  padding: 4px 50px 4px 10px;
  display: inline-block;
  color: #ccc;
  height: 20px;
  background-color: #666;
  border-radius: 3px 3px 0 0;
}

#candy #chat-tabs .active a {
  background-color: #eee;
  color: black;
}

#candy #chat-tabs .transition {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  width: 35px;
  height: 30px;
  background: url(img/tab-transitions.png) repeat-y left;
  border-radius: 0 3px 0 0;
}

#candy #chat-tabs a.close {
  background-color: transparent;
  position: absolute;
  right: -2px;
  top: -3px;
  height: auto;
  padding: 5px;
  margin: 0 5px 0 2px;
  color: #999;
}

#candy #chat-tabs .active .transition {
  background: url(img/tab-transitions.png) repeat-y -50px;
}

#candy #chat-tabs .close:hover {
  color: black;
}

#candy #chat-tabs .unread {
  color: white;
  background-color: #9b1414;
  padding: 2px 4px;
  font-weight: bold;
  font-size: 10px;
  position: absolute;
  top: 5px;
  right: 22px;
  border-radius: 3px;
}

#candy #chat-tabs .offline .label {
  text-decoration: line-through;
}