/* ------------------------ */
/* LCH Custom Vanilla Theme */
/* By Vladvonvidden -- 2015 */
/*        SCSS file         */
/* ------------------------ */
/* ------------------------ */
/* LCH Custom Vanilla Theme */
/* By Vladvonvidden -- 2015 */
/*        SCSS file         */
/* ------------------------ */
/* ------------------------ */
/* Colors ... such colors ! */
/* ------------------------ */
/* ----------- */
/* Small fixes */
/* ----------- */
.Row {
  width: 960px;
  width: 75vw;
}

.Banner {
  text-align: center;
}

#Content .BoxNewDiscussion {
  display: block;
}

.Item.Read {
  background: none;
}

/* -------- */
/* Elements */
/* -------- */
a {
  color: #2877d0;
}
a:hover {
  color: #00baff;
}

.TagCloud li {
  padding: 5px;
  background: #2877d0;
  background: -webkit-gradient(linear, left top, left bottom, from(#2877d0), to(#2e64c5));
  background: -moz-linear-gradient(center top, #2877d0 0%, #2e64c5 100%);
  background: -moz-gradient(center top, #2877d0 0%, #2e64c5 100%);
  -webkit-box-shadow: inset 0 0 3px #00baff;
  -moz-box-shadow: inset 0 0 3px #00baff;
  box-shadow: inset 0 0 3px #00baff;
}
.TagCloud li a {
  color: #fafafa;
}
.TagCloud li a:hover {
  color: #00baff;
}

.Alert {
  background: #ff4e4e;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff4e4e), to(#dd0000));
  background: -moz-linear-gradient(center top, #ff4e4e 0%, #dd0000 100%);
  background: -moz-gradient(center top, #ff4e4e 0%, #dd0000 100%);
  -webkit-box-shadow: inset 0 0 3px #ffb9b9;
  -moz-box-shadow: inset 0 0 3px #ffb9b9;
  box-shadow: inset 0 0 3px #ffb9b9;
}

/* ---- */
/* Body */
/* ---- */
body {
  /*REMOVE THIS AND USE FONT FACE*/
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100vh;
  background: black url("img/backgrounds/LCH--default.png");
  background: -webkit-gradient(linear, left bottom, left top, from(black), to(rgba(255, 255, 255, 0))), url("img/backgrounds/LCH--default.png");
  background: url("img/backgrounds/LCH--default.png"), -moz-linear-gradient(center bottom, black 0%, rgba(255, 255, 255, 0) 100%);
  background: url("img/backgrounds/LCH--default.png"), -moz-gradient(center bottom, black 0%, rgba(255, 255, 255, 0) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* ------ */
/* Navbar */
/* ------ */
#Head {
  background: none;
}
#Head .Row {
  padding: 0px 10px;
  background: #2877d0;
  background: -webkit-gradient(linear, left top, left bottom, from(#2877d0), to(#2e64c5));
  background: -moz-linear-gradient(center top, #2877d0 0%, #2e64c5 100%);
  background: -moz-gradient(center top, #2877d0 0%, #2e64c5 100%);
  -webkit-box-shadow: inset 0 0 3px #00baff;
  -moz-box-shadow: inset 0 0 3px #00baff;
  box-shadow: inset 0 0 3px #00baff;
}
#Head .SiteMenu li {
  padding: 15px 0;
}
#Head .SiteMenu a {
  font-weight: normal;
  font-size: 1em;
}
#Head .SiteSearch {
  margin-top: 12px;
}
#Head .dropdown {
  position: relative;
  display: inline-block;
}
#Head .dropdown::after {
  display: inline-block;
  margin-left: 3px;
  font-family: FontAwesome;
  content: "\f0d7";
}
#Head .dropdown:hover ul {
  z-index: 10;
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
#Head .dropdown:hover::after {
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
#Head .dropdown ul {
  z-index: -99;
  opacity: 0;
  padding-top: 15px;
  position: absolute;
  top: 52px;
  left: 0;
}
#Head .dropdown ul li {
  background: #32333b;
  padding: 7px 10px;
  display: block;
  border-bottom: 1px solid #323232;
}
#Head .dropdown ul li:first-child {
  position: relative;
}
#Head .dropdown ul li:first-child::after {
  position: absolute;
  top: -15px;
  left: 5px;
  display: inline-block;
  margin-left: 3px;
  font-family: FontAwesome;
  content: "\f0d8";
  color: #32333b;
  font-size: 2em;
}
#Head .dropdown ul li a {
  color: #e3e3e3;
}

/* --------------- */
/* Navigation tree */
/* --------------- */
.BreadcrumbsWrapper .Row {
  padding: 10px;
  background: white;
}
.BreadcrumbsWrapper .Row .Breadcrumbs {
  margin-left: 10px;
}

/* ---------------------- */
/* Main container (#Body) */
/* ---------------------- */
#Body .Row {
  padding: 10px;
  padding-bottom: 25px;
  background: #f1f1f1;
  border-radius: 0 0 5px 5px;
}

/* ------------------------------------- */
/* Pannel Column (infos and quick links) */
/* ------------------------------------- */
#Panel {
  background: white;
  margin: 15px 0 0 10px;
  padding: 10px;
  -webkit-box-shadow: 0 0 3px #d5d5d5;
  -moz-box-shadow: 0 0 3px #d5d5d5;
  box-shadow: 0 0 3px #d5d5d5;
}

/* ------------------------------ */
/* Content Column (Forum content) */
/* ------------------------------ */
#Content {
  padding: 10px 10px 10px 20px;
}
#Content .CategoryGroup {
  margin-bottom: 25px;
}
#Content .CategoryGroup .H {
  position: relative;
  z-index: 2;
  color: white;
  background: #32333b;
  border: 1px solid #32333b;
  padding: 5px 10px;
}
#Content .CategoryGroup .H::after {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  content: "";
  width: 25%;
  height: 100%;
  background: #2877d0;
  background: -webkit-gradient(linear, left top, left bottom, from(#2877d0), to(#2e64c5));
  background: -moz-linear-gradient(center top, #2877d0 0%, #2e64c5 100%);
  background: -moz-gradient(center top, #2877d0 0%, #2e64c5 100%);
  -webkit-box-shadow: inset 0 0 3px #00baff;
  -moz-box-shadow: inset 0 0 3px #00baff;
  box-shadow: inset 0 0 3px #00baff;
}

.DataTable {
  background: white;
  padding: 5px 10px;
  -webkit-box-shadow: 0 0 3px #d5d5d5;
  -moz-box-shadow: 0 0 3px #d5d5d5;
  box-shadow: 0 0 3px #d5d5d5;
}
.DataTable tbody > tr:last-child td {
  border-bottom: none;
}

/* ---------- */
/* Categories */
/* ---------- */
#vanilla_categories_index.Section-CategoryList .HomepageTitle, #vanilla_categories_index.Section-CategoryList .PageDescription {
  display: none;
}

.CategoryTable .Item td {
  padding: 10px 5px;
}
.CategoryTable .Item:hover .CountDiscussions, .CategoryTable .Item:hover .CountComments {
  color: #2877d0;
}

.ChildCategoryList {
  background: white;
  padding: 0 10px 15px 10px;
  -webkit-box-shadow: 0 0 3px #d5d5d5;
  -moz-box-shadow: 0 0 3px #d5d5d5;
  box-shadow: 0 0 3px #d5d5d5;
}
.ChildCategoryList .Item {
  width: 100%;
}

#CategoryGroup-nos-jeux-principaux, #CategoryGroup-nos-jeux-secondaires, #CategoryGroup-le-salon-ouvert-au-public {
  position: relative;
  margin-top: 150px;
}
#CategoryGroup-nos-jeux-principaux::after, #CategoryGroup-nos-jeux-secondaires::after, #CategoryGroup-le-salon-ouvert-au-public::after {
  position: absolute;
  left: 0;
  right: 0;
  height: 150px;
  top: -150px;
  content: "";
}

#CategoryGroup-nos-jeux-principaux::after {
  background: url("img/gamesBanner.jpg");
  background-position: bottom center;
  background-repeat: no-repeat;
}

#CategoryGroup-nos-jeux-secondaires::after {
  background: url("img/otherGamesBanner.jpg");
  background-position: bottom center;
  background-repeat: no-repeat;
}

#CategoryGroup-le-salon-ouvert-au-public::after {
  background: url("img/publicBanner.jpg");
  background-position: bottom center;
  background-repeat: no-repeat;
}

.Unread h3 a::after {
  content: "nouveau";
  margin-left: 9px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  background: #FF0;
  color: #000;
  font-size: 9px;
  font-weight: bold;
  padding: 3px;
  line-height: 1;
  white-space: nowrap;
}

/* ----------- */
/* Discussions */
/* ----------- */
.DiscussionsTable tr.Bookmarked {
  background: rgba(255, 232, 159, 0.3);
}
.DiscussionsTable .Item:hover .CountDiscussions, .DiscussionsTable .Item:hover .CountComments {
  color: #2877d0;
}

.New .Title::after {
  content: "non lu";
  margin-left: 9px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  background: #01BD01;
  color: white;
  font-size: 9px;
  font-weight: bold;
  padding: 3px;
  line-height: 1;
  white-space: nowrap;
}

/* ------ */
/* Footer */
/* ------ */
#Foot {
  margin-top: 50px;
}
#Foot .Row {
  padding: 25px 10px !important;
  position: relative;
  margin-top: 10px;
  background-color: #32333b;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.4), 0px 1px 1px rgba(255, 255, 255, 0.2) inset;
  border: 1px solid #000;
  background: #32333b;
  background: -webkit-gradient(linear, left top, left bottom, from(#32333b), to(#1f1f22));
  background: -moz-linear-gradient(center top, #32333b 0%, #1f1f22 100%);
  background: -moz-gradient(center top, #32333b 0%, #1f1f22 100%);
}

/* ------------------------ */
/* LCH Custom Vanilla Theme */
/* By Vladvonvidden -- 2015 */
/*        SCSS file         */
/* ------------------------ */
/* ----------------------------------- */
/* Let's make this B... aby responsive */
/* ----------------------------------- */
@media all and (max-width: 1026px) {
  .Row {
    width: 960px;
    width: 90vw;
  }

  #Content .CategoryGroup .H::after {
    width: 50%;
  }

  #Head .SiteSearch #Form_Search {
    display: none;
  }

  #Panel {
    display: none;
  }

  #Content {
    margin: 0 !important;
    padding: 10px;
  }

  #CategoryGroup-nos-jeux-principaux, #CategoryGroup-nos-jeux-secondaires {
    margin-top: 10px;
  }
  #CategoryGroup-nos-jeux-principaux::after, #CategoryGroup-nos-jeux-secondaires::after {
    display: none;
  }
}
/* ------------------------ */
/* LCH Custom Vanilla Theme */
/* By Vladvonvidden -- 2015 */
/* SCSS file for threads    */
/* ------------------------ */
/* This files is used to customize topic & answers on the forum */
/* ---------- */
/* First post */
/* ---------- */
.MessageList.Discussion, .MessageList.Comments {
  background: white;
  margin-top: 5px;
  padding: 10px;
  -webkit-box-shadow: 0 0 3px #d5d5d5;
  -moz-box-shadow: 0 0 3px #d5d5d5;
  box-shadow: 0 0 3px #d5d5d5;
}

/* ----------- */
/* Discussions */
/* ----------- */
.ItemDiscussion td {
  padding: 15px 4px !important;
}

/* -------- */
/* Comments */
/* -------- */
.CommentHeading, .CommentForm .H {
  margin: 25px 0;
}

.ItemComment {
  padding: 30px 8px !important;
}
.ItemComment:hover {
  background: #FFFCF3;
}
.ItemComment:last-child {
  border-bottom: none;
}
