/* ------------------------ */
/* LCH Custom Vanilla Theme */
/* By Vladvonvidden -- 2015 */
/*        SCSS file         */
/* ------------------------ */

/* ----------------------------------- */
/* Let's make this B... aby responsive */
/* ----------------------------------- */

// The freaking menu bar
@media all and (max-width: 1440px) {
  .SiteMenu > li:nth-child(7), .SiteMenu > li:nth-child(8) {
    display: none;
  }
}

// Want small size ? GET SMALL SIZE
@media all and (max-width: 800px) {
  .CountComments, .CountDiscussions, .CountReplies {
    display: none;
  }
}


// For the Ipad and other tablets
@media all and (max-width: 1026px) {

   // Adjust Rows
   .Row {
      width: 960px;
      width: 90vw;
   }

   // Main categories headers
   #Content .CategoryGroup .H::after {
      width: 50%;
   }

   // Search bar
   #Head .SiteSearch {
      #Form_Search {
         display: none;
      }
   }

   // Remove the pannel
   #Panel {
      display: none;
   }

   // Adjust content
   #Content {
      margin: 0 !important; // yeah I know it's ugly
      padding: 10px
   }

   // Remove banners
   #CategoryGroup-nos-jeux-principaux, #CategoryGroup-nos-jeux-secondaires {
      margin-top: 10px;
      &::after {
         display: none;
      }
   }
}
