/* ------------------------ */
/* LCH Custom Vanilla Theme */
/* By Vladvonvidden -- 2015 */
/* SCSS file for threads    */
/* ------------------------ */

/* This files is used to customize topic & answers on the forum */

/* ---------- */
/* First post */
/* ---------- */

.MessageList.Discussion, {
   background: white;
   margin-top: 5px;
   padding: 30px;
   @include box-shadow(0, 0, 3px, #D5D5D5, $inset: false);
}

/* ----------- */
/* Discussions */
/* ----------- */

.ItemDiscussion td {
	padding: 15px 4px !important; // Once again I tried other things before that
}

/* -------- */
/* Comments */
/* -------- */

.CommentHeading, .CommentForm .H {
  margin: 30px 0;
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(222, 228, 239);
  font-size: 26px;
  color: #414a51;
}

.ItemComment {
  background: white;
  margin: 10px 0 !important;
   	&:hover {
      	background: #FFFCF3;
   	}
   	&:last-child {
   		border-bottom: none;
   	}

    //Options
    .Options {
      margin-top: 10px;
      z-index: 1;
      position: relative;
    }

   // Comment header
   .CommentHeader {
     background: #F1F5F8;
     padding: 10px 0;
     padding-left: 40px;
     position: relative;

     //User picture
     .PhotoWrap {
       position: absolute;
       left: -20px;
       top: 7px;
       border: 3px solid white;
     }
   }

   //Message content
   .Item-Body {
     padding: 15px 0;
     padding-left: 40px;
   }
}
