/* ------------------------ */
/* LCH Custom Vanilla Theme */
/* By Vladvonvidden -- 2015 */
/* SCSS file for threads    */
/* ------------------------ */

/* This files is used to customize topic & answers on the forum */

/* ---------- */
/* First post */
/* ---------- */

.MessageList.Discussion {
   background: white;
   margin-top: 5px;
   padding: 10px;
   @include box-shadow(0, 0, 3px, #D5D5D5, $inset: false);
}

/* -------- */
/* Comments */
/* -------- */

.ItemComment {

   &:hover {
      background: white;
   }
}