/* -------------------------------------------------------- */
/* cssnext based stylesheet for lch-theme on mediawiki 1.25 */
/* This file uses the RSCSS method to define css properties */
/* Visit http://rscss.io/ for more infos                    */
/* -------------------------------------------------------- */

/* Basic properties */
/* ================ */
@import base.css;

/* Component - Gallery */
/* =================== */
@import gallery.css;

/* Component - Navbar */
/* ================== */
@import navbar.css;

/* Component - Titles */
/* ================== */
@import titles.css;

/* Component - Shiny blocks */
/* ======================== */
@import shiny-blocks.css;

/* Component - Footer */
/* ================== */
@import footer.css;

/* Page Layout */
/* =========== */

.row {
  max-width: 1024px;
}

.page-Wildstar {
  background: url("https://assets.vg247.com/current//2012/03/20120307planetside2_06.jpg") fixed top no-repeat;
}

.page-Planetside_2 {
  background: url("https://assets.vg247.com/current//2012/03/20120307planetside2_06.jpg") fixed top no-repeat;
}

.top-bar {
  margin: 0;
}

#page-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#page-content > .row:nth-child(3){
  flex: 1;
  max-width: none;
}

#p-cactions {
  padding: 0;
}

.mw-bodytext {
  background: white;
}

#mw-content-text {
  padding: 15px;
  max-width: 62.5em;
  margin: 0 auto;
  margin-top: 15vh;
}
