// colors

$color-1: #2c343b; //
$color-2: #53C5FA; //
$color-3: #ffffff; // White

// fonts

$primary-font: 'Open Sans', sans-serif;

// header height

$header-S: 50px;
$header-M: 70px;

// intro height

$intro-height-S: 75vh;
$intro-height-M: 75vh;
$intro-height-L: 75vh;
