/* -------------------------------------------------------- */
/* cssnext based stylesheet for lch-theme on mediawiki 1.25 */
/* This file uses the RSCSS method to define css properties */
/* Visit http://rscss.io/ for more infos                    */
/* -------------------------------------------------------- */

/* Basic properties */
/* ================ */
/* Base css file for wildstar section on lCH wiki */

/* Wildstar theme properties */

/* Component - Gallery */
/* =================== */
/* -------------------------------------------------------- */
/* cssnext based stylesheet for GALLERY element             */
/* This file uses the RSCSS method to define css properties */
/* Visit http://rscss.io/ for more infos                    */
/* -------------------------------------------------------- */

.row.-gallery {
  height: 300px;
  overflow: hidden;
}

.row.-gallery > .columns {
  height: 300px;
}

.row.-gallery > .columns > .item {
  position: relative;
  width: 100%;
  height: 100%;
}

.row.-gallery > .columns > .item > .galleryItemTitle {
  position: absolute;
  bottom: 2.5em;
  left: 0.9375em;
  color: #FFFFFF;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: bold;
  -webkit-transition: all 0.3s;
          transition: all 0.3s;
}

.row.-gallery > .columns > .item > .galleryItemSubtitle {
  position: absolute;
  bottom: 2.5em;
  left: 1.3em;
  color: #999999;
  opacity: 0;
}

.row.-gallery > .columns > .item:hover > .galleryItemTitle {
  margin-bottom: 10px;
  -webkit-transition: all 0.3s;
          transition: all 0.3s;
}

.row.-gallery > .columns > .item:hover > .galleryItemSubtitle {
  opacity: 1;
  -webkit-transition: all 0.5s;
          transition: all 0.5s;
}

.row.-gallery > .columns > .item > a > img{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

/* Component - Navbar */
/* ================== */
/* -------------------------------------------------------- */
/* cssnext based stylesheet for NAVBAR element              */
/* This file uses the RSCSS method to define css properties */
/* Visit http://rscss.io/ for more infos                    */
/* -------------------------------------------------------- */

#p-cactions #mw-content-text .generic-navbar > .navitem:hover div{
  margin:0px;
}

#p-cactions #mw-content-text .generic-navbar > .navitem:after{
  background:transparent;
  height:2px;
  content:'';
  margin-left:50%;
  margin-right:30px;
  width:0px;
  padding:0px;
  -webkit-transition:500ms all ease;
          transition:500ms all ease;
  display:block;
  margin-top:5px;
}

#p-cactions #mw-content-text .generic-navbar > .navitem:hover:after {
  width:1px;
  background: black;
  padding-left:100%;
}

#p-cactions #mw-content-text .generic-navbar {
  text-align: center;
  margin:0px;
  padding:15px;
  position: relative;
  z-index: 2;
  margin-bottom: 25px;
}

#p-cactions #mw-content-text .generic-navbar > .navitem:hover:after{
  margin:5px 0px 0px 0px;
}

#p-cactions #mw-content-text .generic-navbar > .navitem{
  display:inline-block;
  margin:10px 20px;
  -webkit-transition:500ms all ease;
          transition:500ms all ease;
  text-transform:uppercase;
  color:#111;
  font-weight:bold;
  font-family:sans-serif;
  text-align:center;
  position: relative;
}

#p-cactions #mw-content-text .generic-navbar > .navitem > .dropdown{
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  list-style: none;
  margin: 0;
  display: none;
}

#p-cactions #mw-content-text .generic-navbar > .navitem:hover > .dropdown {
    display: block;
    -webkit-animation: fadein .7s; /* Safari and Chrome */ /* Firefox */ /* Internet Explorer */ /* Opera */
    animation: fadein .7s;
}

#p-cactions #mw-content-text .generic-navbar > .navitem > .dropdown > li{
  background: #000000;
  background: rgba(0,0,0,0.7);
  color: whitesmoke;
  font-weight: normal;
  padding: 5px;
  text-transform: none;
}

/* Animations */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Component - Titles */
/* ================== */
/* -------------------------------------------------------- */
/* cssnext based stylesheet for TITLES element              */
/* This file uses the RSCSS method to define css properties */
/* Visit http://rscss.io/ for more infos                    */
/* -------------------------------------------------------- */

#p-cactions .title:first-of-type {
  margin-top: 15vh;
  padding-left: 30px;
  font-size: 5em;
  display: block;
  max-width:1024px;;
  margin-left: auto;
  margin-right: auto;
}

#tagline {
  padding-left: 30px;
  display: block;
  max-width:1024px;;
  margin-left: auto;
  margin-right: auto;
}

.section-title {
  margin: 20px 0;
}

.section-title > .title {
  text-transform: uppercase;
  font-size: 4em;
  font-weight: bold;
}


.section-title > .subtitle {
  color: #999999;
  letter-spacing: 0.7em;
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: bold;
}

/* Component - Shiny blocks */
/* ======================== */
/* -------------------------------------------------------- */
/* cssnext based stylesheet for SHINY-BLOCK element         */
/* This file uses the RSCSS method to define css properties */
/* Visit http://rscss.io/ for more infos                    */
/* -------------------------------------------------------- */

.shiny-container:before {
  display: block;
  content: "";
  height: 100px;
  position: absolute;
  top: -150px;
  left: 0;
  border-right: 1px solid black;
}

.shiny-container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 300px;
  padding: 30px inherit;
  margin: 150px 0;
}

.shiny-container:after {
  display: block;
  content: "";
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: -100px;
  left: 0;
  border-right: 1px solid black;
}

.shiny-container > .shiny-content {
  background: -webkit-linear-gradient(left, transparent 50%, #F3F3F3 50%);
  background: linear-gradient( to right, transparent 50%, #F3F3F3 50%);
  -webkit-box-flex: 60%;
  -webkit-flex: 60%;
      -ms-flex: 60%;
          flex: 60%;
  padding: 60px 0;
}

.shiny-container > .shiny-content > .subtitle {
  color: #999999;
  letter-spacing: 0.7em;
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: bold;
}

.shiny-container > .shiny-content > .title {
  text-transform: uppercase;
  font-size: 4em;
  font-weight: bold;
}

.shiny-container > .shiny-media {
  -webkit-box-flex: 40%;
  -webkit-flex: 40%;
      -ms-flex: 40%;
          flex: 40%;
  background: url("../raw stylesheets/img/PS2-cantina.jpg");
  background-size: cover;
}

/* Component - Footer */
/* ================== */
/* -------------------------------------------------------- */
/* cssnext based stylesheet for FOOTER element              */
/* This file uses the RSCSS method to define css properties */
/* Visit http://rscss.io/ for more infos                    */
/* -------------------------------------------------------- */

footer.row {
  margin-right: 0;
  margin-left: 0;
  background: #3B444F;
  max-width: none;
}

/* Page Layout */
/* =========== */

.row {
  max-width: 1024px;
}

.page-Wildstar {
  background: url("https://assets.vg247.com/current//2012/03/20120307planetside2_06.jpg") fixed top no-repeat;
}

.page-Planetside_2 {
  background: url("https://assets.vg247.com/current//2012/03/20120307planetside2_06.jpg") fixed top no-repeat;
}

.top-bar {
  margin: 0;
}

#page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

#page-content > .row:nth-child(3){
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: none;
}

#p-cactions {
  padding: 0;
}

.mw-bodytext {
  background: white;
}

#mw-content-text {
  padding: 15px;
  max-width: 62.5em;
  margin: 0 auto;
  margin-top: 15vh;
}
