<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns="http://logging.apache.org/log4php/">
	<appender name="default" class="LoggerAppenderVanillaDB">
		<param name="Table" value="LoggerSysLog" />
		<param name="createTable" value="true" />
	</appender>
	<appender name="whatever" class="LoggerAppenderFile">
		<param name="file" value="c:\tmp\file.log" />
	</appender>

	<root>
		<level value="DEBUG" />
		<appender_ref ref="default" />
	</root>
</configuration>
